@import "~bootstrap/scss/bootstrap.scss";

/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body {
    background-color: white;
    font-family: sans-serif;
}

form {
    width: 100pc;
    max-width: 500px;

}

.jumbotron {
    width: 400px;
    height: 400px;
    padding-top: 0px
}

ul.ba {
    list-style-type: none;
}